<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div class="bootstrapStyle">
        <th:block th:include="bootstrapStyle :: div"/>
    </div>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/index}">Dream Job</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul class="nav nav-pills">
                    <a class="nav-item nav-link bg-light" th:href="@{/index}">Главная </a>
                    <a class="nav-item nav-link bg-light" th:href="@{/posts}">Вакансии</a>
                    <a class="nav-item nav-link bg-light" th:href="@{/formAddPost}">Добавить вакансию</a>
                    <a class="nav-item nav-link active" href="#">Кандидаты<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link bg-light" th:href="@{/formAddCandidate}">Добавить кандидата</a>
                </ul>
            </div>
        </div>
        <div class="template">
            <th:block th:include="template :: div"/>
        </div>
    </nav>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" scope="col" style="width:5%">#</th>
                <th class="text-center" scope="col" style="width:15%">Имя</th>
                <th class="text-center" scope="col" style="width:5%">Фото</th>
                <th class="text-center" scope="col" style="width:32%">Описание</th>
                <th class="text-center" scope="col" style="width:15%">Город</th>
                <th class="text-center" scope="col" style="width:13%">Дата создания</th>
                <th class="text-center" scope="col" style="width:1%"></th>
                <th class="text-center" scope="col" style="width:1%"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="candidate: ${candidates}">
                <td th:text="${candidate.id}"></td>
                <td th:text="${candidate.name}"></td>
                <td>
                    <img alt="Photo" th:width="150" th:high="150" th:src="@{|/photoCandidate/${candidate.id}|}">
                </td>
                <td th:text="${candidate.description}"></td>
                <td class="text-center" th:text="${candidate.city.name}"></td>
                <td class="text-center" th:text="${candidate.created}"></td>
                <td>
                    <button class="btn btn-link">
                        <a th:href="@{|/formUpdateCandidate/${candidate.id}|}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </button>
                </td>
                <td>
                    <form th:action="'/candidates/' + ${candidate.id} + '/delete/'" method="POST">
                    <button class="btn btn-link" type="submit">
                        <i class="fa fa-trash"></i>
                    </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>