<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div class="bootstrapStyle">
        <th:block th:insert="bootstrapStyle :: div"/>
    </div>
    <title>Dream Job!</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Dream Job</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul class="nav nav-pills">
                    <a class="nav-item nav-link active" href="#">Главная <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link bg-light" th:href="@{/posts}">Вакансии</a>
                    <a class="nav-item nav-link bg-light" th:href="@{/formAddPost}">Добавить вакансию</a>
                    <a class="nav-item nav-link bg-light" th:href="@{/candidates}">Кандидаты</a>
                    <a class="nav-item nav-link bg-light" th:href="@{/formAddCandidate}">Добавить кандидата</a>
                </ul>
            </div>
        </div>
        <div class="template">
            <th:block th:insert="template :: div"/>
        </div>
    </nav>
    <div class="row justify-content-center">
        <div class="card-header text-center mt-1" style="width: 100%">
            Новые вакансии
        </div>
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" scope="col" style="width:5%">#</th>
                <th class="text-center" scope="col" style="width:20%">Вакансия</th>
                <th class="text-center" scope="col" style="width:38%">Описание</th>
                <th class="text-center" scope="col" style="width:15%">Город</th>
                <th class="text-center" scope="col" style="width:13%">Дата создания</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post: ${posts}">
                <td th:text="${post.id}"></td>
                <td>
                    <span th:text="${post.name}"></span>
                </td>
                <td th:text="${post.description}"></td>
                <td class="text-center" th:text="${post.city.name}"></td>
                <td class="text-center" th:text="${post.created}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center">
        <div class="card-header text-center mt-1" style="width: 100%">
            Новые кандидаты
        </div>
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" scope="col" style="width:5%">#</th>
                <th class="text-center" scope="col" style="width:15%">Имя</th>
                <th class="text-center" scope="col" style="width:5%">Фото</th>
                <th class="text-center" scope="col" style="width:32%">Описание</th>
                <th class="text-center" scope="col" style="width:15%">Город</th>
                <th class="text-center" scope="col" style="width:13%">Дата создания</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="candidate: ${candidates}">
                <td th:text="${candidate.id}"></td>
                <td th:text="${candidate.name}"></td>
                <td>
                    <img alt="Photo" th:width="150" th:high="150" th:src="@{|/photoCandidate/${candidate.id}|}">
                </td>
                <td th:text="${candidate.description}"></td>
                <td class="text-center" th:text="${candidate.city.name}"></td>
                <td class="text-center" th:text="${candidate.created}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>