<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div class="bootstrapStyle">
        <th:block th:insert="bootstrapStyle :: div"/>
    </div>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/index}">Dream Job</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul class="nav nav-pills">
                    <a class="nav-item nav-link bg-light" th:href="@{/index}">Главная </a>
                    <a class="nav-item nav-link bg-light" th:href="@{/posts}">Вакансии</a>
                    <a class="nav-item nav-link bg-light" th:href="@{/formAddPost}">Добавить вакансию</a>
                    <a class="nav-item nav-link bg-light" th:href="@{/candidates}">Кандидаты</a>
                    <a class="nav-item nav-link bg-light" th:href="@{/formAddCandidate}">Добавить кандидата</a>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header text-center">
                <h2 th:text="${message}"></h2>
                <a th:href="@{/index}" class="btn btn-primary mt-3 active" role="button" aria-pressed="true">
                    Вернутся на главную</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>