<!DOCTYPE html>
<html lang="en">
<div th:fragment="template">
    <div class="navbar-nav justify-content-end">
        <ul class="nav nav-pills">
            <div th:if="${user.name != null}">
                <a class="nav-item nav-link" th:if="${user.name == 'Гость'}" th:href="@{/loginPage}">
                    <span th:text="${user.name}"></span>
                    <span> | Войти</span>
                </a>
                <a class="nav-item nav-link" th:if="${user.name != 'Гость'}" th:href="@{/logout}">
                    <span th:text="${user.name}"></span>
                    <span> | Выйти</span>
                </a>
            </div>
        </ul>
    </div>
</div>
</html>